@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  place-content: center;
  min-width: 320px;
  background-color: #f0f2f5;
  color: #333;
}

#root {
  width: 100%;
  max-width: 500px;
  background-color: white;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 0px;
}
